<body class="m-0 p-0 bg-white">
  <nav class=" bg-slate-800 p-4">
    <div class="w-full max-w-5xl mx-auto flex items-center justify-between bg-slate-800 p-4">
      <div class="flex items-center space-x-4">
        <a routerLink="/">
          <img class="w-16 cursor-pointer" src="../assets/images/salud.png" alt="Logo veterinaria">
        </a>
        <h1 class="font-black text-4xl text-white">Veterinaria <span class="text-red-400">Animal's</span></h1>
      </div>
      <ul class="flex space-x-8">
        <li><a class="text-white text-lg font-bold" routerLink="/">Home</a></li>
        <li><a class="text-white text-lg font-bold" routerLink="/pets">Pets</a></li>
        <li><a class="text-white text-lg font-bold" routerLink="/owners">Owners</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>


